aiohttp==3.8.3
aiosignal==1.2.0
aniso8601==6.0.0
async-timeout==4.0.2
attrs==22.1.0
base58==2.1.1
bitarray==2.6.0
bitcoin==1.1.42
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
cytoolz==0.12.0
distlib==0.3.6
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.3.1
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.10.0
filelock==3.8.0
Flask==2.2.2
Flask-JWT-Extended==3.18.1
Flask-RESTful==0.3.9
Flask-SQLAlchemy==3.0.2
frozenlist==1.3.1
greenlet==1.1.3.post0
hexbytes==0.3.0
idna==3.4
importlib-metadata==5.0.0
importlib-resources==5.10.0
iniconfig==1.1.1
ipfshttpclient==0.8.0a2
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.16.0
lru-dict==1.1.8
MarkupSafe==2.1.1
multiaddr==0.0.9
multidict==6.0.2
netaddr==0.8.0
packaging==21.3
parsimonious==0.8.1
pkgutil-resolve-name==1.3.10
platformdirs==2.5.2
pluggy==1.0.0
protobuf==3.19.5
py==1.11.0
pycryptodome==3.15.0
PyJWT==1.7.1
pyparsing==3.0.9
pyrsistent==0.18.1
pytest==7.1.3
pytz==2019.1
requests==2.28.1
rlp==2.0.1
six==1.16.0
SQLAlchemy==1.4.41
tomli==2.0.1
toolz==0.12.0
tox==3.26.0
urllib3==1.26.12
varint==1.0.2
virtualenv==20.16.5
web3==5.31.1
websockets==9.1
Werkzeug==2.2.2
yarl==1.8.1
zipp==3.9.0
